<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o email {{ email }}</p>
<p>Se não foi você, então troque a senha</p>

<p>Para continuar com o processo, utilize o token {{ token }} ou clique no link abaixo</p>

<a href="{{ link }}">Criar nova senha</a>
